*{
    margin:0;
    padding :0;

}
:root{
    --bg-color:#fff;
    --snd-bg-color:	#efbbff;
    --text-color:#000;
    --main-color:	#be29ec ;

}
body{
    
    color:  black;
}

nav{
     
     margin-top: 10px;
     margin-top: -250px;
     display:flex;
     gap: 400px;
     font-size: 25px;
    position:sticky;
    position: fixed;
     background-color: var(--main-color);
     padding: 20px;
     width:100% ;
     z-index:1000;


}

navbar{
    display: flex;
    gap: 55px;
    font-size: 25px;
}
.div1{
    color: chartreuse;
}

.div1:hover{
    color: aliceblue;
}
    .bar:hover{
      color: chartreuse;
      padding-left:  50px;
}
.portfolio:hover{
    transform: scale(1.3);
}
.midcontainer{
    margin-top: -50px;
    display: flex;
    width:100%;
}
.left{
   width: 100%;
}
.right{
     width:80%;
       margin-top: -50px;
      
}
img{
    height: 350px;
    width:350px;
    border-radius: 50%;
    margin-left: 100px;
   box-shadow:0 0 25px var(--main-color);
   cursor:pointer;
   animation: floatImage 4s ease-in-out infinite;
    transition:0.4s ease;
 
}
img:hover{
    box-shadow: 0  0  25px var(--main-color),
                0  0  35px  var(--main-color),
                0  0  45px  var(--main-color);
}

@keyframes floatImage {
0%{
    transform:translateY(0);
}

50%{
    transform:translateY(-3.4rem);

}
100%{
    transform:translateY(-3.4rem);
}
}
.right h3{
    font-size:1.7rem;
    font-weight: 700;
    line-height: 2rem;
    
}
.right h1{
    line-height: 2rem;
    
}

span{
    color:var(--main-color);
}
.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height:42px;
    background-color: transparent;
    border:0.2rem solid var(--main-color);
    border-radius:50%;
    font-size: 2rem;
    color:var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
   

}
 
.social-media a:hover{
    transform:scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color:var(--bg-color);
    box-shadow:0 0 25px var(--main-color);
}

.btn{
    display:inline-block;
    padding:1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color:  var(--bg-color);
}

.btn:hover{
    box-shadow: 0 0 35px var(--main-color);
}

 .About{
    background-color: var(--snd-bg-color);
    height:700px;
    width:100%;
    margin-top: 100px;
    display:flex;
}
.midcontainer{
      display: flex;
      margin-top: 250px;
}

.midcontainer .right{
    margin-left: 100px;
     margin-left: -250px;
}

.About .midcontainer .right{
    margin-left: 200px;
     
}

.services{
    margin-top: 150px;
}
.services h1{
    margin-left: 580px;
    font-size: 35px;
}
.courses{
    display: flex;
     gap:50px;
    width: 100%;
    align-items: center;
    padding: 100px;
    margin-left: 200px;
    
}
.web{
     background-color: var(--snd-bg-color );
     height: 275px;
     width: 200px;
     border-radius: 20px;
     margin-top:25px;
     padding: 15px;

}


 .web h3{
     align-items:center ;
     margin-top: 10px;
     margin-bottom: 10px;
      margin-left: 30px;
 }
 .web i{
        margin-left: 80px;
        font-size: 40px;
        color: var(--main-color);
 }

 .web .btn{
   
    display:inline-block;
    padding:0.5rem 1.8rem;
    background: var(--main-color);
    border-radius: 2rem;
    box-shadow: none;
    font-size: 0.8rem;
    color:  var(--bg-color);
    margin-top: 10px;
    margin-left: 30px;

 }

 .web:hover{
    border: 3px solid  var(--main-color);
 }
 .contact{
    
    height:700px;
    width:100%;
    margin-top: 100px;
 }

 .contact h2{
    margin-bottom: 3rem;
    color:var(--main-color);
    font-size: 35px;
    

 }
 .conh2{
    margin-top: 50px;
    text-align: center;
 }

 .contact form{
    max-width: 80rem;
    margin:1rem auto;
    text-align:center;
margin-bottom: 3rem;

 }
 .contact form .input-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
 }

 .contact form .input-box input,
 .contact form textarea{
    width:70%;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--text-color);
    background:var(--bg-color);
    border-radius:0.8rem;
    border:0.25rem solid var(--main-color);
    margin:0.7rem 0;
    resize:none;

 }
.contact form .input-box input{

    width:35%;
    margin:0.7rem 0.35rem;

}

.footer{
    position: relative;
    height:300px;
    width:100%;
    margin-top: 500px;
    background-color: var(--snd-bg-color);
    

}

.footer .social-media {
   margin-top: -550px;
    text-align: center;

}
.footer .copyright{
     text-align: center;
     font-size: 16px;
     font-weight: 600;
     color:var(--text-color)

}